<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ERMSEntities" connectionString="metadata=res://*/Model.ERMS.csdl|res://*/Model.ERMS.ssdl|res://*/Model.ERMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.10.87;initial catalog=ERMS;user id=liembt;password=!@34567890Sql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RedantEntities" connectionString="metadata=res://*/Model.RedAnt.csdl|res://*/Model.RedAnt.ssdl|res://*/Model.RedAnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.97.9.90;initial catalog=VietnamRedant;persist security info=True;user id=liembt;password=Ong@Gia!2017;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CabinetEntities" connectionString="metadata=res://*/Model.Cabinet.csdl|res://*/Model.Cabinet.ssdl|res://*/Model.Cabinet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.97.9.97\SQLSTD19,4022;initial catalog=DTV_Cabinet;persist security info=True;user id=dev01;password=$%^Aqr16296se;Connection Timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SataHRMEntities" connectionString="metadata=res://*/Model.SataSMS.csdl|res://*/Model.SataSMS.ssdl|res://*/Model.SataSMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.97.9.90;initial catalog=SataHRM;persist security info=True;user id=liembt;password=Ong@Gia!2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DTV_CabinetEntities" connectionString="metadata=res://*/Model.TrainingModel.csdl|res://*/Model.TrainingModel.ssdl|res://*/Model.TrainingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.97.9.97,4022;initial catalog=DTV_Cabinet;persist security info=True;user id=dev01;password=$%^Aqr16296se;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>